<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        *,
        *::before,
        *::after {
            padding: 0px;
            margin: 0px;
        }

        html {
            height: 100vh;
            width: 100vw;
            overflow: hidden;
        }

        body {
            background: url("photos/bg.jpg") no-repeat center center/cover;
            height: 100vh;
            width: 100vw;
            top: 0px;
            right: 0px;
        }

        .login-form {
            width: 340px;
            margin: 50px auto;
        }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
            margin: 0px -5rem;
            border-radius: 14px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

        .form-control,
        .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
        }

        .create-account {
            color: rgb(51 122 183);
            font-size: 16px;
        }

        .create-account:hover {
            color: rgb(76, 87, 83);
            text-decoration: none;
        }

        @media screen and (max-width: 650px) {
            .login-form form {
                margin: 0px 1rem;
            }
        }

        p {
            margin: 31px 0 -4px;
        }
    </style>
</head>

<body>
    <div class="login-form">
        <form action="/login" method="POST">
            <h2 class="text-center">Log in</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required="required" name="name">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="required" name="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
            <div class="clearfix">
                <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                <a href="#" class="pull-right">Forgot Password?</a>
            </div>

            <p class="text-center"><a href="/register" class="create-account">Create an Account</a></p>
        </form>

    </div>
</body>

</html>